@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_homeLayout.cshtml";
}

@*<div class="d-flex flex-wrap">
        @for (int i = 0; i < 30; i++)
        {
            <div class="card m-3 justify-content-center" style="width: 15rem;height:15rem">
                <img src="~/Content/images/faded.jpg" class="p-2 card-img-top" alt="...">
            </div>
        }
    </div>*@
<p>Chào buổi <b>tối: </b></p>
<div class="history-mix">
    <a class="card-history-mixtape">
        <img src="~/Content/images/faded.jpg" class="p-2 card-img-top" alt="...">
        <h5>Mixtape 1</h5>
    </a>
    <a class="card-history-mixtape">
        <img src="~/Content/images/faded.jpg" class="p-2 card-img-top" alt="...">
        <h5>Mixtape 2</h5>
    </a>
    <a class="card-history-mixtape">
        <img src="~/Content/images/faded.jpg" class="p-2 card-img-top" alt="...">
        <h5>Mixtape 3</h5>
    </a>
    <a class="card-history-mixtape">
        <img src="~/Content/images/faded.jpg" class="p-2 card-img-top" alt="...">
        <h5>Mixtape 4</h5>
    </a>
    <a class="card-history-mixtape">
        <img src="~/Content/images/faded.jpg" class="p-2 card-img-top" alt="...">
        <h5>Mixtape 5</h5>
    </a>
    <a class="card-history-mixtape">
        <img src="~/Content/images/faded.jpg" class="p-2 card-img-top" alt="...">
        <h5>Mixtape 6</h5>
    </a>
</div>


<p>Dành cho bạn: </p>
<div class="recommend-music">
    <div class="container-fluid text-center">
        <div class="d-flex flex-row mb-3">

            <div class="p-2 recommend-music--items">
                <div class="recommend-music-icons">
                    <div class="controls_player--icon_img">
                        <i class="far fa-play-circle"></i>
                        <!-- <i class="far fa-pause-circle"></i> -->
                    </div>
                </div>
                <div class="recommend-music-items--info">
                    <h5>Live from Paris</h5>
                    <span>Justin Bieber</span>
                </div>
            </div>
            <div class="p-2 recommend-music--items">
                <div class="recommend-music-icons">
                    <div class="controls_player--icon_img">
                        <i class="far fa-play-circle"></i>
                        <!-- <i class="far fa-pause-circle"></i> -->
                    </div>
                </div>
                <div class="recommend-music-items--info">
                    <h5>Live from Paris</h5>
                    <span>Justin Bieber</span>
                </div>
            </div>
            <div class="p-2 recommend-music--items">
                <div class="recommend-music-icons">
                    <div class="controls_player--icon_img">
                        <i class="far fa-play-circle"></i>
                        <!-- <i class="far fa-pause-circle"></i> -->
                    </div>
                </div>
                <div class="recommend-music-items--info">
                    <h5>Live from Paris</h5>
                    <span>Justin Bieber</span>
                </div>
            </div>
            <div class="p-2 recommend-music--items">
                <div class="recommend-music-icons">
                    <div class="controls_player--icon_img">
                        <i class="far fa-play-circle"></i>
                        <!-- <i class="far fa-pause-circle"></i> -->
                    </div>
                </div>
                <div class="recommend-music-items--info">
                    <h5>Live from Paris</h5>
                    <span>Justin Bieber</span>
                </div>
            </div>
            <div class="p-2 recommend-music--items">
                <div class="recommend-music-icons">
                    <div class="controls_player--icon_img">
                        <i class="far fa-play-circle"></i>
                        <!-- <i class="far fa-pause-circle"></i> -->
                    </div>
                </div>
                <div class="recommend-music-items--info">
                    <h5>Live from Paris</h5>
                    <span>Justin Bieber</span>
                </div>
            </div>
            <div class="p-2 recommend-music--items">
                <div class="recommend-music-icons">
                    <div class="controls_player--icon_img">
                        <i class="far fa-play-circle"></i>
                        <!-- <i class="far fa-pause-circle"></i> -->
                    </div>
                </div>
                <div class="recommend-music-items--info">
                    <h5>Live from Paris</h5>
                    <span>Justin Bieber</span>
                </div>
            </div>
            <div class="p-2 recommend-music--items">
                <div class="recommend-music-icons">
                    <div class="controls_player--icon_img">
                        <i class="far fa-play-circle"></i>
                        <!-- <i class="far fa-pause-circle"></i> -->
                    </div>
                </div>
                <div class="recommend-music-items--info">
                    <h5>Live from Paris</h5>
                    <span>Justin Bieber</span>
                </div>
            </div>

        </div>
    </div>
</div>
<h4>Lựa chọn của Huflit:</h4>




@*xử lí nhạc*@
<audio controls id="audio-control">
    <source src="~/Content/music/Alan-Walker-Faded-Faded.mp3" />
</audio>
