<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/homeStylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body style="background-color:black">
    @*Header và các menu link chính của website*@
    <div class="div-sidebar justify-content-center">
        <nav class="navbar navbar-brand">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand" href="#">
                    <img src="~/Content/images/logoHuflit.png" />
                    <span>HUFLIT</span>
                </a>
            </div>
        </nav>
        <div class="d-flex flex-column mb-3">
            <div class="p-2">
                <a href="#" class="nav-link active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" />
                        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
                    </svg>
                    <span>Trang chủ</span>
                </a>
            </div>
            <div class="p-2">
                <a href="~/Home/Discover" class="nav-link active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-disc-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-6 0a2 2 0 1 0-4 0 2 2 0 0 0 4 0zM4 8a4 4 0 0 1 4-4 .5.5 0 0 0 0-1 5 5 0 0 0-5 5 .5.5 0 0 0 1 0zm9 0a.5.5 0 1 0-1 0 4 4 0 0 1-4 4 .5.5 0 0 0 0 1 5 5 0 0 0 5-5z" />
                    </svg>
                    <span>Khám phá</span>
                </a>
            </div>
            <div class="p-2">
                <a href="#" class="nav-link active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-journals" viewBox="0 0 16 16">
                        <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z" />
                        <path d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z" />
                    </svg>
                    <span>Thư viện</span>
                </a>
            </div>
        </div>
        @*Các danh bài hát và playlist đã lưu*@

        <ul class="list-group">
            <li><h4><b>Danh sách các playlist đã lưu:</b></h4></li>
            @for (int i = 0; i < 10; i++)
            {
                <li class="list-group-item">
                    <a href="#" class="nav-link">
                        <img src="~/Content/images/faded.jpg" width="50" height="50">
                        <marquee direction="right" width="30%">
                            <b>Faded</b>
                        </marquee>
                        <span>Alan Walker</span>
                    </a>
                </li>
            }
        </ul>

    </div>



    <div class="div-content">

        @RenderBody()
    </div>


    <div class="div-footer">
        <div class="media">
            <div class="media-img">
                <img src="~/Content/images/faded.jpg" />
            </div>

        </div>
        <div class="control">control</div>
        <div class="control-extend">Control Extend</div>
    </div>
</body>
</html>
