<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/homeStylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="div-menu">
        @*hình ảnh brand*@
        <div class="menu-logo">
            <img src="~/Content/images/logoHuflit.png" />
        </div>
        @*các menu link*@
        <div class="menu-sidebar">
            <div class="menu-link">
                <h4 class="active">
                    <i class="bi bi-music-note-list"></i>
                    <a href="/home/index" class="nav-link active"><b>Trang chủ</b></a>
                </h4>
                <h4>
                    <i class="bi bi-vinyl-fill"></i>
                    <a href="/Home/Discover" class="nav-link "><b>Khám phá</b></a>
                </h4>
                <h4>
                    <i class="bi bi-book-half"></i>
                    <a class="nav-link  disabled"><b>Thư viện:</b></a>
                </h4>
            </div>
            <div class="menu-music">
                <ul class="list-music">
                    @for (int i = 0; i < 10; i++)
                    {

                        <li>
                            <img src="~/Content/images/faded.jpg">
                            <h6>
                                Faded<br />
                                <span>Alan Walker</span>
                            </h6>
                            <i class="bi bi-play-circle"></i>
                        </li>
                    }
                </ul>
            </div>

        </div>
    </div>

    <div class="div-content">
        @RenderBody()
    </div>


    <div class="div-footer">
        <div class="media">
            <div class="media-cd">
                @*thêm backgroud image theo ảnh nền bài nhạc*@
            </div>
            <h6>
                Faded<br />
                <span>Alan Walker</span>
            </h6>
            <i class="bi bi-heart-fill"></i>
            <i class="bi bi-download"></i>

        </div>
        <div class="control">
            <div class="list-buton">
                <i class="bi bi-repeat"></i>
                <i class="bi bi-skip-start-fill"></i>
                <i class="bi bi-play-fill"></i>
                <i class="bi bi-skip-end-fill"></i>
                <i class="bi bi-arrow-clockwise"></i>
            </div>
            <div class="status-play">
                <span id="currentStart">0:00</span>
                <div class="bar">
                    <input type="range" id="seek" min="0" max="100">
                </div>
                <span id="currentEnd">3:50</span>
            </div>
        </div>
        <div class="control-extend">

        </div>
    </div>

</body>
</html>
