<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width , initial-scale=1" />

    <title>@ViewBag.Title</title>
    <!-- Link CSS -->
    <link href="~/Content/LoginStyleSheet.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
