body {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    color:black;
    /*background-color: #1F4172 !important;*/ background-color: #fde8e8 !important;
}

.div-sidebar {
    width: 20%;
    height: 90vh;
    /*background-color: #121212;*/
    /*border: 1px solid #ffff;*/
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


    /*.div-sidebar nav .container-fluid a img {
        width: 100px;
        color: black;
    }*/

    .div-sidebar nav .container-fluid a span {
        color: black;
        font-weight: 900;
        font-size: 25px;
    }

    .div-sidebar .flex-column {
        width: 500px;
        background-color: #f9c6c5 /*#CA4E79*/; /*background-color: #2D4356;*/
        color: black;
        font-size: 22px;
        font-weight: 500;
        margin: 10px 20px 0px 20px;
        border-radius: 10px;
        justify-content: space-evenly
    }

        .div-sidebar .flex-column .p-2 a {
            background-color: #f9c6c5;
            display: flex;
        }

            .div-sidebar .flex-column .p-2 a span {
                margin: 0px 0px 0px 20px;
            }

        .div-sidebar .flex-column .p-2:hover {
            color: #ff6a00;
            font-size: 25px;
            font-weight: 700;
        }

        .div-sidebar .flex-column .p-2:active {
            color: #ffd800;
            box-shadow: #ff6a00;
            font-size: 24px;
            font-weight: 700;
        }



    .div-sidebar ul {
        background-color: #f9c6c5 !important;
        width: 100%;
        height: 50vh;
        overflow: auto;
        text-overflow: ellipsis;
        margin-left: 20px;
        border-radius: 10px;
        gap: 8px;
        display: flex;

    }
        

        .div-sidebar ul::-webkit-scrollbar {
            display: none;
        }

    .div-sidebar h4 b {
        color: black;
        font-size: 20px;
        font-weight: 900;
        margin: 30px 0px 0px 10px;
    }

    .div-sidebar ul li {
        background-color: #f9c6c5 !important;
        color: black;
        font-size: 20px;
        margin: 10px 0px 0px 0px;
    }


        .div-sidebar ul li a:hover {
            background-color: #b6b6b6;
            box-shadow: #ffd800;
            border-radius: 10px;
        }

        .div-sidebar ul li a:active {
            font-size: 20px;
            background-color: #6b8a8e;
        }

        .div-sidebar ul li a img {
            border-radius: 10px;
        }

        .div-sidebar ul li a span {
            color: #7a1010;
            margin: 0px 0px 0px 10px;
            font-weight: 500;
        }









/*layout nội dung hiển thị*/
.div-content {
    
    width: 80%;
    height: 90vh;
    padding: 0px 0px 0px 20px;
    border-radius: 10px;
    color: aliceblue;
}
/*header content*/
.header-content {
    background-color: #fde8e8;
    /*background-color: #2D4356;*/
    position: fixed !important;
    height: 50px;
    width: 100%;
    z-index: 1;
}

.container_header--content {
    display: flex;
    height: 50px;
    width: 100%;
    line-height: 70px;
    width: calc(100% - 240px);
}

.container_header--content_btns {
    height: 100%;
    display: flex;
}

.container_header--content_btn {
    width: 60px;
    height: 100%;
    line-height: 40px;
    background-color: #5c5765;
    color: var(--next-btn-color);
    border: none;
    font-size: 16px;
    display: block;
}

.container_header--content_search {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 50px;
    line-height: 40px;
    background-color: aliceblue;
    font-size: 14px;
    color: black !important;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    right: 0px;
}

    .container_header--content_search button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: none;
    }

        .container_header--content_search button i {
            color: #000;
        }

.content_search_history {
    border: 1px solid #ccc;
    padding: 12px;
    font-size: 16px;
    width: 200px;
    box-sizing: border-box;
}

    .content_search_history::placeholder {
        color: #ccc;
    }



.container_header--content_search.active {
    background-color: var(--history-active);
    border-radius: 20px 20px 0 0;
}

    .container_header--content_search.active .container_header--content_search_history--items {
        display: block;
    }



.container_header--content_search--icon {
    font-size: 20px;
    padding: 0 10px;
    color: #dadac5;
    display: block;
}

.container_header--content_search input[type="search"] {
    background-color: transparent;
    color: var(--gray-color);
    list-style: none;
    outline: none;
    border: none;
    font-size: 14px;
    width: 95%;
    padding-right: 40px;
}

.dropbtn {
    background-color: black;
    color: black;
    padding: 5px;
    font-size: 16px;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.avatar-profile {
    position: relative;
    bottom: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
    left: 1400px;
    top: 10px;
    z-index: 1;
}

.sub-menu-all {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 300px;
    max-height: 0;
    display: none;
    transition: max-height 0.5s;
}

    .sub-menu-all.open-menu {
        max-height: 400px;
        display: block;
    }


.sub-menu {
    background: #727272;
    padding: 8px;
    margin: 10px;
    z-index: 2;
    justify-content: center;
}

.user-info {
    display: flex;
    justify-content: center;
    color: gray;
}

    .user-info hr {
        border: 0;
        height: 2px;
        width: 100%;
        margin: 0px 0 0px;
    }

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 1px 0;
    padding: 1px;
    height: 60px;
}

    .sub-menu-link p {
        width: 100%;
        color: white;
    }

    .sub-menu-link img {
        width: 40px;
        background: #fffafa;
        border-radius: 50%;
        padding: 8px;
        margin-right: 15px;
    }

    .sub-menu-link:hover p {
        font-weight: 600;
    }

    .sub-menu-link:hover {
        background-color: #e4dcdc;
        border-radius: 5px;
    }

.sub-menu a:last-child {
    border-top: 1px solid #969595;
}

.container_header--content_btns .Svg-sc-ytk21e-0 {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: snow;
}

.container_header--content_btns .container_header--content_btn {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 10px;
    margin-right: 20px;
    margin-top: 10px;
    background-color: black;
}
/*end header content*/
.content-oop {
    margin-top:50px;
    width: 100%;
    height: 85vh;
    overflow: auto;
    text-overflow: ellipsis;
    /*display: flex;*/
    border: 1px solid #B3005E;
    color: #ffff;
    padding: 50px 0px 0px 0px;
    /*background-color: #132043 !important;*/ background-color: #fbd3d2 !important;
    border-radius: 10px;
    display: block;
}

    .content-oop img {
        width: 15rem;
        height: 15rem;
    }
/*nội dung chính hiển thị cho người dùng*/
.div-content .content-oop h4 {
    margin: 10px;
    font-size: 30px;
    font-weight: 700;
    display:block;
    color:black;
    
}


/*Chào buổi ...*/
/* Slideshow container */
#slide-show-img-home {
    position: relative;
    width: 55%;
    height: 25vw;
    perspective: 600px;
    left: 365px;
    bottom: 60px;
}

    #slide-show-img-home label {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        color: white;
        font-size: 70px;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.4s ease;
        z-index: 1;
    }

        #slide-show-img-home label img {
            width: 1600px;
            height: 70%;
        }


.slider-input {
    position: relative;
    bottom: 100px;
    top: 108%;
    left: 56%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
    z-index: 2;
    display: none;
}

input[type=radio]:nth-child(5) {
    margin-right: 0px;
}

input[type=radio]:checked {
    opacity: 1;
}

#slide1:checked ~ #slide1 {
    transform: translate3d(0%, 0, 0px) scale(1);
    z-index: 2;
}

#slide1:checked ~ #slide2 {
    transform: translate3d(35%, 0, -100px) scale(1);
    z-index: 1;
}

#slide1:checked ~ #slide3 {
    transform: translate3d(-35%, 0, -100px) scale(1);
    z-index: 1;
}

#slide2:checked ~ #slide1 {
    transform: translate3d(-35%, 0, -100px) scale(1);
    z-index: 1;
}

#slide2:checked ~ #slide2 {
    transform: translate3d(0%, 0, 0px) scale(1);
    z-index: 2;
}

#slide2:checked ~ #slide3 {
    transform: translate3d(35%, 0, -100px) scale(1);
    z-index: 1;
}

#slide3:checked ~ #slide1 {
    transform: translate3d(35%, 0, -100px) scale(1);
    z-index: 1;
}

#slide3:checked ~ #slide2 {
    transform: translate3d(-35%, 0, -100px) scale(1);
    z-index: 1;
}

#slide3:checked ~ #slide3 {
    transform: translate3d(0%, 0, 0px) scale(1);
    z-index: 2;
}
/*Button chuyển bài*/
.btn-skip-img {
    position: relative;
    bottom: 0px;
    left: 665px;
    display: block;
    margin: 10px;
    background: transparent;
    border: none;
    outline: none;
}

    .btn-skip-img .btn-prev {
        position: relative;
        right: 630px;
        bottom: 380px;
        transition: all 0.3s ease;
    }

    .btn-skip-img .btn-next {
        position: relative;
        left: 710px;
        bottom: 400px;
        transition: all 0.3s ease;
    }

        .btn-skip-img .btn-next:hover {
            transform: scale(1.3);
        }

    .btn-skip-img .btn-prev:hover {
        transform: scale(1.3);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #2D4356;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}
/*End chào buổi ...*/

audio{
    display:none;
}
/*Dành cho bạn*/
.recommend-music {
    width: 100%;
    color: whitesmoke;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    bottom: 200px;
}

    .recommend-music .recommend-music--items {
        border: 1px solid #ffff;
        width: 250px;
        height: 200px;
        color: #f6f1f5;
        border-radius: 20px;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-right: 30px;
        position: static;
    }

    .recommend-music .recommend-music-icons {
        cursor: pointer;
        display: flex;
        justify-content: space-evenly;
    }

        .recommend-music .recommend-music-icons .fa-pause-circle {
            display: none;
        }

    .recommend-music .recommend-music--items:hover {
        /*cursor: pointer;*/
        /*trỏ chuột vào nó hiện bàn tay*/
        text-decoration: none;
        transform: translateX(5px);
        /*dịch chuyển vật thể theo chiều x y z*/
        transition-duration: 1s;
    }

/*    .recommend-music .recommend-music-icons .controls_player--icon_img {
            font-size:25px;
        }
            .recommend-music .recommend-music-icons div:nth-child(n) {
                font-size:50px;
                color:palegreen;
            }*/

.list-music--item {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    position: relative;
}
/*End dành cho bạn*/
/*Đề xuất hôm nay*/
/*Dành cho bạn*/
.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    justify-content: space-evenly;
    margin-left: 20px;
}

.btn-like-music {
    background: transparent;
    border: none;
    outline: none;
    color: grey;
    right: 100px;
    font-size: 20px;
    bottom: 45px;
    right: 115px;
    transition: ease-in-out 0.3s;
}

    .btn-like-music:hover {
        transform: scale(1.2);
    }

    .btn-like-music svg {
        fill: white;
        transition: fill 0.3s;
    }

    .btn-like-music.liked svg {
        fill: red;
    }


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: black;
    transform: rotateY(180deg);
}

.controls_player--icon_img .far.fa-play-circle {
    font-size: 40px;
    position: relative;
    margin: 20px;
    margin-left: 12px;
}

.btn-like-music {
    font-size: 25px;
}

.fa-ellipsis {
    font-size: 25px;
}



.controls_player--icon_img button,
.controls_player--icon_img .fa-ellipsis {
    border-radius: 50%;
    display: inline-block;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

    .controls_player--icon_img button:hover,
    .controls_player--icon_img .fa-ellipsis:hover {
        background-color: rgba(169, 169, 169, 0.5);
        transform: scale(1.3);
    }
/*End đề xuất hôm nay*/
/*layout footer của trang web*/
.div-footer {
    color: aliceblue;
    clear: both;
    background-color: #f9c6c5 !important;
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: inline-flex;
}

.total-library {
    width: 100%;
    height: 50px;
}

.total-collection-item {
    height: 100%;
    height: 50px;
}

.collection-taskbar {
    display: flex;
    background-color: #fbd3d2;
    float: left;
    list-style: none;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #969595;
}

    .collection-taskbar li {
        padding: 10px;
        transition: all 0.3s ease;
    }

        .collection-taskbar li:hover {
            transform: scale(1.2);
            fill: #e87e0c;
        }

.total-library {
    width: 100%;
    height: 50px;
}

.main-content-library {
    height: 100%;
}

.total-collection-item {
    height: 100%;
    height: 50px;
}


.collection-taskbar li {
    padding: 10px;
    transition: all 0.3s ease;
    position: relative;
    bottom: 8.1px;
}

    .collection-taskbar li:hover {
        transform: scale(1.2);
        fill: #e87e0c;
    }

.item-song-liked a,
.item-song-albums a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
}

    .item-song-liked a::after,
    .item-song-albums a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #000;
        transition: width 0.0s ease;
    }



    .item-song-liked a:hover::after,
    .item-song-albums a:hover::after {
        width: 100%;
    }

    .item-song-liked a:hover,
    .item-song-albums a:hover {
        color: #e87e0c;
    }

.collection_section_liked_section, .collection_section_album_section {
    display: none;
}

    .collection_section_album_section .row {
        display: flex;
    }

.container-fluid.text-center {
    display: flex;
}

.collection_section_liked_section p {
    color: black;
    font-size: 35px;
    font-weight: 600;
}

.collection_section_album_section p {
    color: black;
    font-size: 35px;
    font-weight: 600;
}

.main-content-library .recommend-music-icons {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}

    .main-content-library .recommend-music-icons .fa-pause-circle {
        display: none;
    }

.controls_player--icon_img .far.fa-play-circle {
    font-size: 40px;
    position: relative;
    margin: 20px;
    margin-left: 12px;
}

.btn-like-music {
    font-size: 25px;
}

.fa-ellipsis {
    font-size: 25px;
}



.controls_player--icon_img button,
.controls_player--icon_img .fa-ellipsis {
    border-radius: 50%;
    display: inline-block;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

    .controls_player--icon_img button:hover,
    .controls_player--icon_img .fa-ellipsis:hover {
        background-color: rgba(169, 169, 169, 0.5);
        transform: scale(1.3);
    }


.total-library {
    width: 100%;
    height: 50px;
}

.main-content-library {
    height: 100%;
}

.total-collection-item {
    height: 100%;
    height: 50px;
}


.collection-taskbar li {
    padding: 10px;
    transition: all 0.3s ease;
    position: relative;
    bottom: 8.1px;
}

    .collection-taskbar li:hover {
        transform: scale(1.2);
        fill: #e87e0c;
    }

.item-song-liked a,
.item-song-albums a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
}

    .item-song-liked a::after,
    .item-song-albums a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #000;
        transition: width 0.0s ease;
    }



    .item-song-liked a:hover::after,
    .item-song-albums a:hover::after {
        width: 100%;
    }

    .item-song-liked a:hover,
    .item-song-albums a:hover {
        color: #e87e0c;
    }
    
.collection_section_liked_section, .collection_section_album_section {
    display: none;
}

    .collection_section_album_section .row {
        display: flex;
    }

.container-fluid.text-center {
    display: flex;
}

.collection_section_liked_section p {
    color: black;
    font-size: 35px;
    font-weight: 600;
}

.collection_section_album_section p {
    color: black;
    font-size: 35px;
    font-weight: 600;
}




.media {
    width: 500px;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.media_cd {
    /* margin-left: 24px; */
    display: flex;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #cbbfcd;
}

.media_cd img{ 
    border-radius: 50px !important;
    line-height: 88px;
}

.media_title {
    max-width: 200px;
    /* width: 200px; */
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.media_title--name {
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-overflow: clip;
    color: black;
    overflow: hidden;
    margin-bottom: 4px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.media_title--author {
    height: 12px;
    display: block;
    font-size: 12px;
    text-decoration: none;
    color: black;
    line-height: 12px;
    overflow: hidden;
    margin-top: 4px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.media_icon {
    display: inline-flex;
}

.meadia_icon_more {
    display: block;
    list-style: none;
    color: #fff;
    margin: 0 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}

    .meadia_icon_more:hover {
        background-color: var(--hover-color);
    }

    .meadia_icon_more.active i {
        color: var(--heart-color);
    }

    .meadia_icon_more.active .far.fa-heart,
    .meadia_icon_more .fas.fa-heart {
        display: none;
        
    }

    .meadia_icon_more.active .fas.fa-heart {
        display: block;
        line-height: 32px;
    }







.controls {
    width: 60%;
    height: 88px;
    background-color: var(--primary-foot-color);
    display: flex;
    flex-direction: column;
    padding-top: calc( ( 88px - ( 50px + 18px)) / 2 );
}

.controls_player {
    width: 100%;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.controls_player--icon {
    list-style: none;
    width: 32px;
    height: 32px;
    color: black;
    display: block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}


    .controls_player--icon .fa-pause-circle {
        display: none;
    }

    .controls_player--icon.active_player .fa-pause-circle {
        display: block;
    }

    .controls_player--icon .fa-play-circle {
        display: block;
    }

    .controls_player--icon.active_player .fa-play-circle {
        display: none;
    }

    .controls_player--icon:nth-child(1):hover,
    .controls_player--icon:nth-child(2):hover,
    .controls_player--icon:nth-child(4):hover,
    .controls_player--icon:nth-child(5):hover {
        background-color: var(--hover-color);
    }

    .controls_player--icon:nth-child(1).active_redo,
    .controls_player--icon:nth-child(5).active_redo {
        color: var(--active--foot-color);
    }


    .controls_player--icon:nth-child(3) {
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }

        .controls_player--icon:nth-child(3):hover {
            color: var(--active--foot-color);
        }

    .controls_player--icon i {
        display: block;
        line-height: 32px;
    }

    .controls_player--icon .fa-pause-circle,
    .controls_player--icon .fa-play-circle {
        font-size: 36px;
        font-weight: 100;
        line-height: 50px;
    }


.controls_time {
    width: 100%;
    height: 18px;
    display: flex;
    justify-content: space-evenly
}

.controls_time--right {
    color: #838089;
    width: 45px;
    height: 18px;
    display: block;
    /*margin: 0 10px;*/
    font-size: 14px;
    cursor: default;
}

.controls_time--left {
    color: black;
    width: 45px;
    height: 18px;
    /*margin: 0 10px;*/
    display: block;
    font-size: 14px;
    cursor: default;
}

.controls_time--range {
    width: 100%;
    height: 2px;
    cursor: pointer;
    overflow: hidden;
    /*margin: auto;*/
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

    .controls_time--range:hover {
        overflow: unset;
        height: 4px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }


.div-footer .controls-extend {
    width: 30%;
    /*border: 1px solid #ff6a00;*/
    justify-content: center;
    display: inline-flex;
    line-height: 88px;
}

.extend-item {
    width: 100%;
    height: 36px;
    margin: 0px 10px 0px 10px;
    display: flex;
    padding-left: 90px;
    text-decoration: none;
    list-style: none;
    color:black;
}

    .extend-item li {
        margin: 0px 10px 0px 10px;
    }

        .extend-item li:hover,
        .extend-item li:hover,
        .extend-item li:hover {
            color: antiquewhite;
            cursor: pointer;
        }
@media (max-width: 575.98px) {
    .container-fluid text-center {
        justify-content: center;
        align-content: center;
    }
}


@media screen and ( max-width:983px) and (max-width:1000px) {
    .content-oop h2 {
        font-size: 15px;
    }

    .main-content-library .collection_section_liked_section p {
        font-size: 20px;
    }

    .row-in-row {
        display: flex;
        margin-left: 36px;
        margin-top: 200px;
    }

    .content-oop {
        width: 100%;
        height: 100%;
    }

    #slide-show-img-home {
        position: relative;
        right: 250px;
        bottom: 40px;
        display: none;
    }

        #slide-show-img-home label {
            display: flex;
        }
}
/*Dành để chỉnh side-bar*/
@media (max-width:1034px) {
    d-flex flex-column mb-3 {
        width: 100%;
    }

    .d-flex.flex-column.mb-3 .nav-link {
        font-size: 15px;
    }

        .d-flex.flex-column.mb-3 .nav-link svg {
            width: 20px;
            height: 20px;
        }

    .list-group li h4 b {
        font-size: 10px;
    }

    @media (max-width:768px) {
        d-flex flex-column mb-3 {
            width: 100%;
        }

        .d-flex.flex-column.mb-3 .nav-link {
            font-size: 10px;
        }

            .d-flex.flex-column.mb-3 .nav-link svg {
                width: 15px;
                height: 15px;
            }
    }
}

@media (max-width:1526px) {
    .content-oop h2 {
        font-size: 15px;
    }

    .main-content-library .collection_section_liked_section p {
        font-size: 20px;
    }

    .row-in-row {
        display: flex;
        margin-left: 36px;
    }

    .content-oop {
        width: 100%;
        height: 100%;
    }

    #slide-show-img-home {
        position: relative;
        right: 130px;
        bottom: 40px;
    }

        #slide-show-img-home label {
            display: flex;
        }
}