body {
    display: flex;
    flex-wrap: wrap;

}

.div-sidebar {
    width: 20%;
    height: 90vh;
    /*background-color: #121212;*/
    border: 1px solid #ffff;
    display:block;
}


    .div-sidebar nav .container-fluid a img {
        width: 100px;
        color: white;
    }

    .div-sidebar nav .container-fluid a span {
        color: white;
        font-weight: 900;
        font-size: 25px;
    }

    .div-sidebar .flex-column {
        background-color: #232323;
        color: white;
        font-size: 22px;
        font-weight: 500;
        margin: 10px 20px 0px 20px;
    }

        .div-sidebar .flex-column .p-2 a {
            display: flex;
        }

            .div-sidebar .flex-column .p-2 a span {
                margin: 0px 0px 0px 20px;
            }

        .div-sidebar .flex-column .p-2:hover {
            color: #ff6a00;
            font-size: 25px;
            font-weight: 700;
        }

        .div-sidebar .flex-column .p-2:active {
            color: #ffd800;
            box-shadow: #ff6a00;
            font-size: 24px;
            font-weight: 700;
        }



    .div-sidebar ul {
        background-color: #232323 !important;
        width: 100%;
        height: 50vh;
        overflow: auto;
        text-overflow: ellipsis;
        margin: 20px 0px 0px 0px;
        gap: 8px;
        display: flex;
    }

        .div-sidebar ul::-webkit-scrollbar {
            display: none;
        }

    .div-sidebar h4 b {
        color: aliceblue;
        font-size: 20px;
        font-weight: 900;
        margin: 30px 0px 0px 10px;
    }

    .div-sidebar ul li {
        background-color: #232323 !important;
        color: aliceblue;
        font-size: 20px;
        margin: 10px 0px 0px 0px;
    }


        .div-sidebar ul li a:hover {
            background-color: #b6b6b6;
            box-shadow: #ffd800;
            border-radius: 10px;
        }

        .div-sidebar ul li a:active {
            font-size: 20px;
            background-color: #6b8a8e;
        }

        .div-sidebar ul li a img {
            border-radius: 10px;
        }

        .div-sidebar ul li a span {
            color: #8a8383;
            margin: 0px 0px 0px 10px;
            font-weight: 800;
            
        }
        









        .div-content {
            width: 80%;
            height: 90vh;
            border: 1px solid #ffff;
        }

.div-footer {
    width: 100%;
    height: 10vh;
    border: 1px solid #ffff;
    display: flex;
    margin: 0px;
    color: aliceblue;
}
    .div-footer .media {
        display: flex;
        width: 35%;
        border: 1px solid #ffff;
    }
        .div-footer .media .media-img {
            width: 85px;
            border-radius: 50%;
            border: 1px solid #ffff;
            animation: rotate 5s linear infinite;
            margin:5px;
        }
        .div-footer .media .media-img img{
            width: 100%;
            height:100%;
            border-radius: 50%;
            border: 1px solid #ffff;
        }



    .div-footer .control {
        display: flex;
        width: 30%;
        border: 1px solid #ffff;
    }
    .div-footer .control-extend {
        display: flex;
        width: 35%;
        border: 1px solid #ffff;
    }



    @keyframes rotate{
        from{
            transform: rotate(0deg);
        }
        to{
            transform:rotate(360deg);
        }
    }
   
    













@media only screen and (max-width: 700px) {
    .div-sidebar, .div-content, .div-footer {
        width: 100%;
    }
}
