body {
    width:100%;
    display: inline-flex;
    flex-wrap: wrap;
    
}

.div-sidebar {
    width: 20%;
    height: 90vh;
    /*background-color: #121212;*/
    /*border: 1px solid #ffff;*/
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


    /*.div-sidebar nav .container-fluid a img {
        width: 100px;
        color: white;
    }*/

    .div-sidebar nav .container-fluid a span {
        color: white;
        font-weight: 900;
        font-size: 25px;
    }

    .div-sidebar .flex-column {
        width: 500px;
        background-color: #121212;
        color: white;
        font-size: 22px;
        font-weight: 500;
        margin: 10px 20px 0px 20px;
        border-radius: 10px;
        justify-content: space-evenly
    }

        .div-sidebar .flex-column .p-2 a {
            display: flex;
        }

            .div-sidebar .flex-column .p-2 a span {
                margin: 0px 0px 0px 20px;
            }

        .div-sidebar .flex-column .p-2:hover {
            color: #ff6a00;
            font-size: 25px;
            font-weight: 700;
        }

        .div-sidebar .flex-column .p-2:active {
            color: #ffd800;
            box-shadow: #ff6a00;
            font-size: 24px;
            font-weight: 700;
        }



    .div-sidebar ul {
        background-color: #121212 !important;
        width: 100%;
        height: 50vh;
        overflow: auto;
        text-overflow: ellipsis;
        margin: 20px 0px 0px 0px;
        gap: 8px;
        display: flex;
    }

        .div-sidebar ul::-webkit-scrollbar {
            display: none;
        }

    .div-sidebar h4 b {
        color: aliceblue;
        font-size: 20px;
        font-weight: 900;
        margin: 30px 0px 0px 10px;
    }

    .div-sidebar ul li {
        background-color: #121212 !important;
        color: aliceblue;
        font-size: 20px;
        margin: 10px 0px 0px 0px;
    }


        .div-sidebar ul li a:hover {
            background-color: #b6b6b6;
            box-shadow: #ffd800;
            border-radius: 10px;
        }

        .div-sidebar ul li a:active {
            font-size: 20px;
            background-color: #6b8a8e;
        }

        .div-sidebar ul li a img {
            border-radius: 10px;
        }

        .div-sidebar ul li a span {
            color: #8a8383;
            margin: 0px 0px 0px 10px;
            font-weight: 800;
        }









/*layout nội dung hiển thị*/
.div-content {
    width: 80%;
    height: 90vh;
    padding: 0px 0px 0px 20px;
    border-radius: 10px;
    color:aliceblue;
}
/*header content*/
.header-content {
    background-color: #121212;
    position: fixed;
}
.container_header--content {
    display: flex;
    height: 40px;
    line-height: 70px;
    width: calc(100% - 240px);
}

.container_header--content_btns {
    height: 100%;
    display: flex;
}

.container_header--content_btn {
    width: 60px;
    height: 100%;
    line-height: 40px;
    background-color:#5c5765;
    color: var(--next-btn-color);
    border: none;
    font-size: 16px;
    display: block;
}

.container_header--content_search {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 50px;
    line-height: 40px;
    background-color: aliceblue;
    font-size: 14px;
    color: #6b8a8e;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

   
.content_search_history {
    display: flex;
    flex: 1;
    height: 100%;
}

.container_header--content_search.active {
    background-color: var(--history-active);
    border-radius: 20px 20px 0 0;
}

    .container_header--content_search.active .container_header--content_search_history--items {
        display: block;
    }



.container_header--content_search--icon {
    font-size: 20px;
    padding: 0 10px;
    color: #dadac5;
    display: block;
}

.container_header--content_search input[type="search"] {
    background-color: transparent;
    color: var(--white-color);
    list-style: none;
    outline: none;
    border: none;
    font-size: 14px;
    width: 95%;
    padding-right: 40px;
}



/*end header content*/
.content-oop {
    width: 100%;
    height: 80vh;
    overflow: auto;
    text-overflow: ellipsis;
    /*display: flex;*/
    border: 1px solid #ffff;
    color: #ffff;
    padding: 50px 0px 0px 0px;
    background-color: #121212;
    border-radius: 10px;
    display:block;
}

    .content-oop img {
        width: 15rem;
        height: 15rem;
    }
/*nội dung chính hiển thị cho người dùng*/
.div-content .content-oop h4 {
    margin: 10px;
    font-size: 30px;
    font-weight: 700;
    display:block;
}


/*Chào buổi ...*/
.history-mix {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

    .history-mix .card-history-mixtape {
        width: 30%;
        height: 4rem;
        display: inline-flex;
        background-color: rgba(92, 87, 90, 0.8);
        align-items: center;
        border-radius: 5px;
        margin: 10px;
        text-decoration: none;
        transition: .3s linear;
        
    }

        .history-mix .card-history-mixtape:hover {
            cursor: pointer;
            /*trỏ chuột vào nó hiện bàn tay*/
            background-color: #93BFCF;
            text-decoration: none;
            color: rgb(0, 0, 0);
            box-shadow: none;
            transform: translateX(5px);
            /*dịch chuyển vật thể theo chiều x y z*/
            transition-duration: 1s;
            /*delay thời gian chuyển động của vật thể*/
            /*dịch chuyển nó xuống dưới 5px thời gian chạy 1s với xóa bóng => thành hiệu ứng nút button*/
        }

        .history-mix .card-history-mixtape img {
            width: 4rem;
            height: 4rem;
        }

        .history-mix .card-history-mixtape h5 {
            margin: 0px 10px 0px 0px;
            color: white;
            font-weight: 900;
        }
/*End chào buổi ...*/

/*Dành cho bạn*/
.recommend-music {
    width: 100%;
    color: whitesmoke;
    white-space: nowrap;
    overflow: hidden;
}
.recommend-music .container-fluid{
    

}
    .recommend-music .recommend-music--items {
        background-image: url("https://d1hjkbq40fs2x4.cloudfront.net/2017-08-21/files/landscape-photography_1645.jpg");
        width: 250px;
        height: 200px;
        color: #f6f1f5;
        border-radius: 20px;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-right:30px;
        position:static;
    }
    .recommend-music .recommend-music-icons {
        cursor:pointer;
        display:flex;
        justify-content:space-evenly;
    }

    .recommend-music .recommend-music--items:hover {
        /*cursor: pointer;*/
        /*trỏ chuột vào nó hiện bàn tay*/
        text-decoration: none;
        transform: translateX(5px);
        /*dịch chuyển vật thể theo chiều x y z*/
        transition-duration: 1s;
    }

        .recommend-music .recommend-music-icons .controls_player--icon_img {
            font-size:25px;
        }
            .recommend-music .recommend-music-icons div:nth-child(n) {
                font-size:50px;
                color:palegreen;
            }
        
/*End dành cho bạn*/


/*Đề xuất hôm nay*/
/*Dành cho bạn*/
.recommend-music--dailyday {
    width: 100%;
    color: whitesmoke;
    white-space: nowrap;
    overflow: hidden;
}

    .recommend-music--dailyday .container-fluid {
    }

    .recommend-music--dailyday .recommend-music--items {
        background-image: url("https://d1hjkbq40fs2x4.cloudfront.net/2017-08-21/files/landscape-photography_1645.jpg");
        width: 250px;
        height: 200px;
        color: #f6f1f5;
        border-radius: 20px;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-right: 30px;
        position: static;
    }

    .recommend-music--dailyday .recommend-music-icons {
        cursor: pointer;
        display: flex;
        justify-content: space-evenly;
    }

    .recommend-music--dailyday .recommend-music--items:hover {
        /*cursor: pointer;*/
        /*trỏ chuột vào nó hiện bàn tay*/
        text-decoration: none;
        transform: translateX(5px);
        /*dịch chuyển vật thể theo chiều x y z*/
        transition-duration: 1s;
    }

    .recommend-music--dailyday .recommend-music-icons .controls_player--icon_img {
        font-size: 25px;
    }

    .recommend-music--dailyday .recommend-music-icons div:nth-child(n) {
        font-size: 50px;
        color: palegreen;
    }
        
/*End đề xuất hôm nay*/

/*layout footer của trang web*/
.div-footer {
    color: aliceblue;
    clear: both;
    background-color: #121212;
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: inline-flex;
}





.media {
    width: 500px;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.media_cd {
    /* margin-left: 24px; */
    display: flex;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #cbbfcd;
}

/* .media_cd img{ 
    border-radius: 30px;
    line-height: 88px;
} */

.media_title {
    max-width: 200px;
    /* width: 200px; */
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.media_title--name {
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-overflow: clip;
    color: #fcfbfc;
    overflow: hidden;
    margin-bottom: 4px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.media_title--author {
    height: 12px;
    display: block;
    font-size: 12px;
    text-decoration: none;
    color: white;
    line-height: 12px;
    overflow: hidden;
    margin-top: 4px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.media_icon {
    display: inline-flex;
}

.meadia_icon_more {
    display: block;
    list-style: none;
    color: #fff;
    margin: 0 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}

    .meadia_icon_more:hover {
        background-color: var(--hover-color);
    }

    .meadia_icon_more.active i {
        color: var(--heart-color);
    }

    .meadia_icon_more.active .far.fa-heart,
    .meadia_icon_more .fas.fa-heart {
        display: none;
        
    }

    .meadia_icon_more.active .fas.fa-heart {
        display: block;
        line-height: 32px;
    }







.controls {
    width: 60%;
    height: 88px;
    background-color: var(--primary-foot-color);
    display: flex;
    flex-direction: column;
    padding-top: calc( ( 88px - ( 50px + 18px)) / 2 );
}

.controls_player {
    width: 100%;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.controls_player--icon {
    list-style: none;
    width: 32px;
    height: 32px;
    color: var(--text-color);
    display: block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}


    .controls_player--icon .fa-pause-circle {
        display: none;
    }

    .controls_player--icon.active_player .fa-pause-circle {
        display: block;
    }

    .controls_player--icon .fa-play-circle {
        display: block;
    }

    .controls_player--icon.active_player .fa-play-circle {
        display: none;
    }

    .controls_player--icon:nth-child(1):hover,
    .controls_player--icon:nth-child(2):hover,
    .controls_player--icon:nth-child(4):hover,
    .controls_player--icon:nth-child(5):hover {
        background-color: var(--hover-color);
    }

    .controls_player--icon:nth-child(1).active_redo,
    .controls_player--icon:nth-child(5).active_redo {
        color: var(--active--foot-color);
    }


    .controls_player--icon:nth-child(3) {
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }

        .controls_player--icon:nth-child(3):hover {
            color: var(--active--foot-color);
        }

    .controls_player--icon i {
        display: block;
        line-height: 32px;
    }

    .controls_player--icon .fa-pause-circle,
    .controls_player--icon .fa-play-circle {
        font-size: 36px;
        font-weight: 100;
        line-height: 50px;
    }


.controls_time {
    width: 100%;
    height: 18px;
    display: flex;
    justify-content: space-evenly
}

.controls_time--right {
    color: #838089;
    width: 45px;
    height: 18px;
    display: block;
    /*margin: 0 10px;*/
    font-size: 14px;
    cursor: default;
}

.controls_time--left {
    color: white;
    width: 45px;
    height: 18px;
    /*margin: 0 10px;*/
    display: block;
    font-size: 14px;
    cursor: default;
}

.controls_time--range {
    width: 100%;
    height: 2px;
    cursor: pointer;
    overflow: hidden;
    /*margin: auto;*/
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

    .controls_time--range:hover {
        overflow: unset;
        height: 4px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }


.div-footer .controls-extend {
    width: 30%;
    /*border: 1px solid #ff6a00;*/
    justify-content: center;
    display: inline-flex;
    line-height: 88px;
}

.extend-item {
    width: 100%;
    height: 36px;
    margin: 0px 10px 0px 10px;
    display: flex;
    padding-left: 90px;
    text-decoration: none;
    list-style: none;
}

    .extend-item li {
        margin: 0px 10px 0px 10px;
    }

        .extend-item li:hover,
        .extend-item li:hover,
        .extend-item li:hover {
            color: antiquewhite;
            cursor: pointer;
        }
